
# --2--
```{r,warning = FALSE}
df1 = df %>% select(1:12,-10,-11) 
df1$Product_Category_1 = as.factor(df1$Product_Category_1)
df1$Marital_Status = as.factor(df1$Marital_Status)
df1$Occupation = as.factor(df1$Occupation)
df1$User_ID = as.factor(df1$User_ID)
summary(df1)
